$primaryFont: 'Roboto', sans-serif;
$secondaryFont: 'Raleway', sans-serif;
$mainColor: #2196f3;
$iconBgc: #afb1b8;
$primaryFontColor: #212121;
$secondaryFontColor: #757575;
$tertiaryFontColor: #ffffff;
$mainBgc: #e5e5e5;
$darkBgc: #2f303a;
$neutralBgc: #f5f4fa;
$primaryLightBgc: #ffffff;
$secondaryLightBgc: #eeeeee;
$backdropBgc:  rgba(0, 0, 0, 0.2);
$labelBorderColor: rgba(33, 33, 33, 0.2);
$placeholderFontColor: rgba(117, 117, 117, 0.5);
$descriptionBgc: rgba(47, 48, 58, 0.8);
$socialDarkBgc:rgba(255, 255, 255, 0.1);